.ex-1-square {
    transition: 2s;
}
.ex-1-square:hover {
    background: red;
}
    .ex-2-square { 
    transition: 3s;
}
.ex-2-square:active {
    width: 100%;
}
.ex-3-square {
    transition: 2s;
}
.ex-3-square:hover {
    background: red;
    border-radius: 100%;
}
.ex-4-square {
    transition: 2s;
}
.ex-4-square:hover {
    background: red;
    opacity: 0;
}
.ex-5-square { 
    transition: 2s;
}
.ex-5-square:hover {
    width: 100px;
    height: 100px;
}
.ex-5-square:active {
    width: 30px;
    height: 30px;
}
.ex-6-img:hover {
    filter: grayscale(1);
}
.ex-7-img {
    transition: 2s;
}
.ex-7-img:hover {
    filter: grayscale(.6) sepia(.5);
}
.ex-8-img {
    transition: 2s;
}
.ex-8-img:hover {
    filter: grayscale(.6) sepia(.5);
    border-radius: 5%;
} 
.ex-9-img {
    transition: 2s;
}
.ex-9-img:hover {
    filter: grayscale(.6) sepia(.5);
    border-radius: 5%;
    transform: scale(1.5);
} 
.ex-10-icon {
   animation: loading 1s linear infinite
}
@keyframes loading {
0%{
        transform: rotate(1turn);
}
}
.ex-11-icon:hover {
    animation: crazy-loading 3s linear infinite
 }
 @keyframes crazy-loading {
    0%{
            transform: rotate(0);
    }

    80%{
        transform: rotate(350deg);
    }

    100%{
        transform: rotate(0);
    }
    
